body{
	background-color:#bdb875;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

/* not working yet WIP 181117 
.postcontent h1{
 font-size: 5px; 
}
*/

/* bg image on home page */
#bgimage{
	background-image:url('../images/bgimage.jpg');
	background-position:center right;
	min-height:auto;
	margin-bottom:30px;
	text-align: left center;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	text-align: left center;
}

/* divider on home page */
#divider{
	background-image:url('../images/divider.jpg');
	background-position:center right;
	min-height:70px;
	margin-bottom:35px;
}

/* icon display */
.p-box{
	width:32px;
	height:32px;
	border:0px solid #000;
	margin-top:30px;
	position:relative;
	background-image:url('../images/myicon.png');
	background-repeat: no-repeat;
	background-position:100px 200px;
	background-position:center top;
}


