/* css style page for https://gavinlyonsrepo.github.io/ */

/* apply to main body for all pages */
body{
	background-color:#bdb875;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
	padding: 0px;
}



/* class site-title(non-custom tag from minima), style for title in header.html */
.site-title{
    font-size:35px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

/* class page-link(non-custom tag from minima), style for the buttons in header.html */
.page-link{
    color:black;
    border: 3px solid black;
    padding: 5px; 
    background-color: lightsteelblue;
}


/* id myicon , icon display in header.html */
#myicon{
    background-image:url('../images/myicon.png');
	width:48px;
	height:48px;
	border:0px solid #000;
	position:relative;
    right: 250px;
	background-repeat: no-repeat;
	background-position: left center;
}


/* class bgimage, bgimage.jpg image background for text on all pages */
.bgimage{
	background-image:url('../images/bgimage.jpg');
	border:5px solid #000;
	background-position:top;
	background-repeat: no-repeat;
	padding: 15px;
}

/* class container , contains the text posts text on all pages" */
.container{
	width: 80%;
	margin:auto;
	overflow:hidden;
	text-align: left center;
}


/*class footertext style text for footer.html */
.footertext{
     color: black; 
}

/* id footimage , image in footer.html */
#footimage{
	background-image:url('../images/footimage.jpg');
	width:230px;
	height:60px;
	border:2px solid #000;
	position:relative;
    right: 250px;
    bottom: 10px;
	background-repeat: no-repeat;
	background-position: left center;
}




