---
layout: page
---
<html>
<body>
<h3>Project API index list : </h3>
<div class="bgimage">
	<div class="container">

		<ul>
			{% assign doc_folder = "software_docs" %}
			{% assign folders = "" | split: "" %}

			{% for folder in site.static_files %}
			{% if folder.path contains doc_folder and folder.name == "index.html" %}
				{% assign folder_parts = folder.path | split: '/' %}
				{% assign folder_name = folder_parts | slice: -2, 1 %}

				<!-- Store folder names in an array -->
				{% assign folders = folders | push: folder_name[0] %}
			{% endif %}
			{% endfor %}

			<!-- Sort naturally (case-insensitive) -->
			{% assign sorted_folders = folders | sort_natural %}

			<!-- Display sorted folder names -->
			{% for folder in sorted_folders %}
				<li><a href="/misc/{{ doc_folder }}/{{ folder }}/">{{ folder }}</a></li>
			{% endfor %}
		</ul>

	</div>
</div>
</body>
</html>
