---
layout: page
title: Posts
permalink: /posts/
---
<html>
<body>	
<h3>Blog post sorted by year.  Total : #{{ site.posts | size }}  </h3>
<div class="bgimage">
	<div class="container">
		{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
		{% for year in postsByYear %}
			<h2>{{ year.name }}</h2>
			{% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
			{% for month in postsByMonth %}
				{{ month.name }}
				<ul>
					{% for post in month.items %}
						<li>
							<a href="{{ post.url }}">{{ post.title }}</a>
						</li>
					{% endfor %}
			</ul>
			{% endfor %}
		{% endfor %}
	</div>
</div>
</body>
</html>











