---
layout: page
---
<html>
<body>

<h3>Main Projects :</h3>
<div class="bgimage">
	<div class="container">
		<ol type="i">
			<li>  RpiMotorLib : <a href="https://github.com/gavinlyonsrepo/RpiMotorLib">Raspberry Pi python motor library.</a></li>
			<li>  Raspberrypi_tempmon : <a href="https://github.com/gavinlyonsrepo/raspberrypi_tempmon">Raspberry Pi monitor.</a></li>
			<li>  PIC project list : <a href="{{site.url}}/misc/pic.html">Projects and libraries for PIC micro-controllers.</a></li>
			<li>  Arduino Library list : <a href="https://www.arduinolibraries.info/authors/gavinlyonsrepo">Libraries for Arduino micro-controllers.</a></li>
			<li>  Arduino Project list : <a href="{{site.url}}/misc/arduino.html">Projects for Arduino micro-controllers. </a></li>
			<li>  ESP-X project list : <a href="https://github.com/gavinlyonsrepo/ESP_projects">Projects for Espressif Systems micro-controllers.</a></li>
			<li>  STM32 Project list : <a href="https://github.com/gavinlyonsrepo/STM32_projects">Projects for STM32 micro-controllers.</a></li>
			<li>  Cylon : <a href="https://github.com/gavinlyonsrepo/cylon">TUI to maintain an Arch based Linux distribution.</a></li>
			<li>  Cylon-Deb : <a href="https://github.com/gavinlyonsrepo/cylon-deb">TUI to maintain a Debian based Linux distribution.</a></li>
			<li>  Backupmenu : <a href="https://github.com/gavinlyonsrepo/backupmenu">CLI utility to backup a Linux distribution.</a></li>
			<li>  Bashmultitool : <a href="https://github.com/gavinlyonsrepo/bashmultitool">Bash shell function library.</a></li>
			<li>  Tv_viewer : <a href="https://github.com/gavinlyonsrepo/tv_viewer">GUI to view tv program details using TV maze API.</a></li>
		</ol>
	</div>
</div>
</body>
</html>

