---
layout: page
---
<html>
<body>

<h3>Top 10 Projects : </h3>
<div class="bgimage">
	<div class="container">
		<ol type="i">
			<li>  Cylon : <a href="https://github.com/gavinlyonsrepo/cylon">TUI to maintain an Arch Linux based distribution.</a></li>
			<li>  Tv_viewer : <a href="https://github.com/gavinlyonsrepo/tv_viewer">GUI to view tv program details using TV maze API.</a></li>
			<li>  RpiMotorLib : <a href="https://github.com/gavinlyonsrepo/RpiMotorLib">Raspberry Pi python motor library.</a></li>
			<li>  Raspberrypi_tempmon : <a href="https://github.com/gavinlyonsrepo/raspberrypi_tempmon">Raspberry Pi temperature monitor.</a></li>
			<li>  Cylon-deb : <a href="https://github.com/gavinlyonsrepo/cylon-deb">TUI to maintain a Debian Linux based distribution.</a></li>
			<li>  Bashmultitool : <a href="https://github.com/gavinlyonsrepo/bashmultitool">Bash shell function library.</a></li>
			<li>  Backupmenu : <a href="https://github.com/gavinlyonsrepo/bashmultitool">Menu based TUI backup utility for Linux.</a></li>
			<li>  Cap_meter_arduino : <a href="https://github.com/gavinlyonsrepo/Cap_meter_arduino">Capacitance meter, Arduino based.</a></li>
			<li>  Arduino_Clock_1 : <a href="https://github.com/gavinlyonsrepo/Arduino_Clock_1">Real time alarm clock with sensors, Arduino based.</a></li>
			<li>  Arduino_FM_radio : <a href="https://github.com/gavinlyonsrepo/Arduino_FM_radio">FM radio with OLED display, Arduino based.</a></li>
		</ol>
	</div>
</div>
<br>
<h3>Number of blog posts by category : </h3>
<div class="bgimage">
	<div class="container">
		<ul class="tag-box inline">
		{% assign tags_list = site.categories %}
			{% for tag in tags_list %}
			  <li><a href="category/{{  tag[0] }}">{{ tag[0] | capitalize }} <span style="color:black" >{{ tag[1].size }}</span></a></li>
			{% endfor %}

		{% assign tags_list = nil %}
		</ul>
	</div>
</div>
<br>
<h3>Blog posts  {{ site.posts | size }} : </h3>
<div class="bgimage">
	<div class="container">
			<ul>
			  {% for post in site.posts %}
			  <li>
			<span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
			  </li>
			  {% endfor %}
			</ul>
	</div>
</div>

</body>
</html>

