---
layout: page
---
<html>
<body>

<h3>Top 7 Projects : </h3>
<div class="bgimage">
	<div class="container">
		<ol type="i">
			<li>  Cylon : <a href="https://github.com/gavinlyonsrepo/cylon">TUI to maintain an Arch Linux based distribution.</a></li>
			<li>  Tv_viewer : <a href="https://github.com/gavinlyonsrepo/tv_viewer">GUI to view tv program details using TV maze API.</a></li>
			<li>  RpiMotorLib : <a href="https://github.com/gavinlyonsrepo/RpiMotorLib">Raspberry Pi python motor library.</a></li>
			<li>  Raspberrypi_tempmon : <a href="https://github.com/gavinlyonsrepo/raspberrypi_tempmon">Raspberry Pi temperature monitor.</a></li>
			<li>  Bashmultitool : <a href="https://github.com/gavinlyonsrepo/bashmultitool">Bash shell function library.</a></li>
			<li>  Arduino Project list : <a href="{{site.url}}/misc/arduino.html">A list of Arduino based micro-controller projects</a></li>
			<li>  PIC project list : <a href="{{site.url}}/misc/pic.html">A list of PIC micro-controller projects </a></li>
		</ol>
	</div>
</div>
<br>
<h3>Number of blog posts by category : </h3>
<div class="bgimage">
	<div class="container">
		<ul class="tag-box inline">
		{% assign tags_list = site.categories %}
			{% for tag in tags_list %}
			  <li><a href="category/{{  tag[0] }}">{{ tag[0] | capitalize }} <span style="color:black" >{{ tag[1].size }}</span></a></li>
			{% endfor %}

		{% assign tags_list = nil %}
		</ul>
	</div>
</div>
<br>
<h3>Blog posts  {{ site.posts | size }} : </h3>
<div class="bgimage">
	<div class="container">
			<ul>
			  {% for post in site.posts %}
			  <li>
			<span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
			  </li>
			  {% endfor %}
			</ul>
	</div>
</div>

</body>
</html>

